.head {
 background-color: aqua;
  height: 50rem;
  background-image: url(https://images5.alphacoders.com/436/thumb-1920-436628.jpg);
  background-size: 100vw;
}
.nintendo {
  width: 130px;
  position: absolute;
  right: 2rem;
  top: 45rem;
}

.buttons {
  position: absolute;
  margin: 0;
  left: 50vh;
  margin-top: 3rem;
  height: 10rem;
}
.antes {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 100px;
  position: relative;
  background-color: lightblue;
  left: -18vw;
  top: 4rem;
  cursor: pointer;
}
.depois {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 100px;
  position: relative;
  right: -57vw;
  background-color: lightblue;
  top: 4rem;
  cursor: pointer;
}
.Titulo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  width: 19rem;
}

.t1 {
  font-size: 100px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Impact;
  letter-spacing: 4px;
  color: white;
  position: absolute;
  left: 9rem;
  top: 6rem;
}

.ash {
  position: absolute;
  right: 6rem;
  top: 10rem;
}

.Login {
  position: absolute;
  top: 4rem;
  right: 3rem;
  color: white;
  font-weight: bolder;
  background-color: red;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  border: 3px solid white;
  font-family: Impact, fantasy;
  text-decoration: none;
}
.Login:hover {
  background-color: rgb(123, 65, 231);
}
.pokebola {
  width: 100px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 2rem;
}
