.foto {
  width: 20rem;
  background-color: lightgray;
  border-radius: 10px;
}
.pokeDisplay2 {
  position: relative;
  left: 19rem;
  top: 2rem;
  display: flex;
}
.inform {
  position: relative;
  left: 1rem;
  background-color: blue;
  width: 30rem;
  border-radius: 10px;
}
.nome1 {
  text-align: center;
  font-size: 30px;
  font-family: Luminari, fantasy;
  position: relative;
  text-align: center;
  font-weight: bold;
}
.numero1 {
  border: 3px solid white;
  width: 4rem;
  border-radius: 100px;
  text-align: center;
  font-size: 50px;
  font-family: Impact, fantasy;
}
.peso {
  font-size: 20px;
  font-family: Impact, fantasy;
  letter-spacing: 2px;
  color: white;
}
.tamanho {
  font-size: 20px;
  font-family: Impact, fantasy;
  letter-spacing: 2px;
  color: white;
}
.tipo1 {
  font-size: 20px;
  font-family: Impact, fantasy;
  letter-spacing: 2px;
  color: white;
}
.xxx {
  position: relative;
  left: 1rem;
}
