.grid {
  display: grid;
  margin-top: 0rem;
  grid-gap: 20vh;
  grid-row-gap: 10rem;
  grid-template-columns: repeat(5, 9rem);
  grid-template-rows: auto;
  position: relative;
  top: 10rem;
  margin-bottom: 10rem;
  justify-content: center;
}
.foto_pokemon {
  width: 200px;
  position: relative;
  top: -5rem;
  left: 1rem;
  margin: 0px;
  padding: 0px;
}

.numero {
  position: relative;
  color: lightgrey;
  font-family: Impact;
  left: 1rem;
  top: -7rem;
  margin: 0;
  padding: 0;
  font-size: 50px;
}
.cards {
  position: relative;
  background-color: gray;
  height: 250px;
  width: 210px;
  border-radius: 10px;
  cursor: pointer;
}
.cards:hover {
  background-color: rgb(123, 65, 231);
  transform: translateY(-2rem);
  transition-duration: 0.5s;
}
.infos {
  left: 1rem;
  position: relative;
  padding-right: 1px;
  top: -5rem;
  width: 11rem;
  background-color: yellow;
  padding: 2px;
  border-radius: 10px;
}
.nome {
  font-size: 24px;
  font-family: Luminari, fantasy;
  position: relative;
  text-align: center;
  top: -12rem;
  font-weight: bold;
}
.tipo {
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1px;
}

.pokeDisplay {
  margin: 0 0 0 -2vw;
}
