.faicons {
  position: relative;
  top: -9.5rem;
  left: 7rem;
  cursor: pointer;
  font-size: 1.5rem;
}
.faicons:hover {
  color: red;
}

.cards2 {
  background-color: gray;
  height: 280px;
  width: 212px;
  border-radius: 10px;
}
.cards2:hover {
  background-color: rgb(123, 65, 231);
  transform: translateY(-2rem);
  transition-duration: 0.5s;
  font-size: 27px;
}
