.form {
  width: 30rem;
  border: 7px solid yellow;
  padding-left: 15rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  background-size: 45rem;
  background-color: white ;
  opacity: 0.7;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.login {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  font-size: 15px;
  background-color: yellow;
  cursor: pointer;
}

.paginalogin {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://cutewallpaper.org/21/pokemon-gif-wallpaper/Pokemon-GIF-Find-on-GIFER.gif);
  background-position: center;
  background-size: 100%;
}

.input {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  font-family: Impact;
  font-size: 15px;
  background-color: red;
  color: black;
  border: 3px solid white;
}
::placeholder {
  color: black;
  letter-spacing: 1px;
}
