.header_user2 {
  background-image: url(https://livewallpaper.info/wp-content/uploads/2017/08/Cool-Pokemon-Backgrounds-Hd-All-kanto-pokemon-hd-wallpaper-wp3804041.jpg);
  background-color: turquoise;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-position: center;
  background-size: 100%;
}
.backpack {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  border-radius: 100px;
  border: 2px solid black;
}
