body {
  background-color: white;
}
.header_user {
  background-image: url(https://wallpaperplay.com/walls/full/c/8/9/58410.jpg);
  background-color: turquoise;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.pokeplus {
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
  border-radius: 100px;
  border: 2px solid black;
}
.perfil_b {
  position: relative;
  left: 2rem;
  color: white;
  font-weight: bolder;
  background-color: red;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 20px;
  border: 3px solid white;
  font-family: Impact, fantasy;
  text-decoration: none;
}
.perfil_b:hover {
  background-color: rgb(123, 65, 231);
}

.buttons2 {
  position: absolute;
  margin: 0;
  left: 50vh;
  margin-top: rem;
  height: 10rem;
}
.captura {
  font-size: 70px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-family: Impact;
  letter-spacing: 4px;
  color: rgb(236, 74, 74);
  border-radius: 10px;
  text-align: center;
  margin: 1rem;
}
